.notification {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(206, 205, 205);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.success {
    color: green;
    border-color: green;
}

.error {
    color: red;
    border-color: red;
}