.notification {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.219);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}